{% set blogList = module.blogList %}
{% set blogIds = [] %}
{% set blogPosts = [] %}

{% for blogItem in blogList %}
{% set blogId = blogItem.page %}
{% do blogIds.append(blogId) %}

{% set post = content_by_id(blogId) %}

{% set temp_post = {
  id: post.id,
  absoluteUrl: post.absoluteUrl|escape_url,
  featuredImage: post.featuredImage,
  featuredImageAltText: post.featuredImageAltText,
  featuredImageWidth: post.featuredImageWidth,
  featuredImageHeight: post.featuredImageHeight,
  title: post.label,
  summary: post.postSummary,
  topicNames: post.topicNames,
  publishDate: post.publishDate
} %}
{% do blogPosts.append(temp_post) %}
{% endfor %}

{% set hublData = {
  blogList: blogList,
  blogIds: blogIds,
  blogs: blogPosts
} %}
